.container{
    width: 45rem;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
}

.fullWidth{
    width: 100%;
}

h1{
    text-align: center;
}

img{
    height: 8rem;
    margin: auto;
}

.section{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

mat-icon{
    color: #ca92f7
}

button{
    margin-top: 1rem;
}