.container{
    width: 90%;
    margin: auto;
}
table{
    width: 100%;
}
mat-form-field{
    width: 100%;
}

h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit{
    color: rgba(13, 182, 243, 0.945);
}

.delete{
    color: rgb(221, 45, 45);
}